<!doctype html>
<html ng-app="showOff">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voreny's creations</title>

    <!-- jQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type=text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Normalize.css -->
    <link rel="stylesheet" type="text/css" href="bootstrap/normalize.css">

    <!-- Bootstrap -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">

    <!-- Angular.JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

    <!-- Voreny's -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="ProjectsCtrl as projects">
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Voreny's creations</a>
        </div>

        <p class="navbar-text">Homepage for my projects. All the code in on <a href="http://https://github.com/Gelio">GitHub</a></p>
    </div>
</nav>

<div class="container" ng-show="mainProject">
    <div class="jumbotron" id="mainProject">
        <img ng-src="{{mainProject.image}}" alt="{{mainProject.name}}" ng-show="mainProject.image" class="img-responsive center-block img-rounded">
        <h1 class="text-center">{{mainProject.name}}</h1>
        <p>{{mainProject.description}}</p>
        <p><a ng-href="{{mainProject.url}}" class="btn btn-primary">Show project</a></p>
    </div>
</div>

<div class="container clearfix projects-container" ng-show="projects">
    <div class="top15 project" ng-repeat="project in projects">
        <img ng-src="{{project.image}}" alt="{{project.name}}" ng-show="project.image" class="img-responsive center-block">
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
        <a ng-href="{{project.url}}" class="btn btn-default">Show project</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center">
        <p class="navbar-text col-xs-12">Created by <a href="mailto:voreny.gelio@gmail.com">Grzegorz Rozdzialik</a> Copyright @ 2015</p>
    </div>
</nav>

</body>
</html>