body {
    margin-bottom: 80px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.projects-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    display: inline-block;
    vertical-align: top;
    width: 100%;

}

@media screen and (min-width: 768px) {
    .project {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .project {
        width: 22%;
    }
}